<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE struts-config PUBLIC
          "-//Apache Software Foundation//DTD Struts Configuration 1.2//EN"
          "http://jakarta.apache.org/struts/dtds/struts-config_1_2.dtd">
<struts-config>
  <global-forwards>
   	<forward name="main" path="/WEB-INF/templates/main.jsp"/>
   	<forward name="chefLanding" path="/chefLanding.jsp" />
  </global-forwards>
  <action-mappings>
     	<action path="/processLogin"  type="coreservlets.ProcessLogin">
      		<forward name="main" path="/WEB-INF/templates/main.jsp"/>
    	</action>
    	
    	<action path="/cancelOrder"  type="coreservlets.CancelOrder">
      		<forward name="viewMyOrders" path="/ViewMyOrders.jsp"/>
    	</action>
    	<action path="/completeOrder"  type="coreservlets.CompleteOrder">
      		<forward name="viewMyOrders" path="/ViewMyOrders.jsp"/>
    	</action>
    	<action path="/pickOrder"  type="coreservlets.PickOrder">
      		<forward name="viewMyOrders" path="/ViewMyOrders.jsp"/>
    	</action>
    	
    	<action path="/addOrderItem"  type="coreservlets.AddOrderItem">
      		<forward name="startOrder" path="/StartOrder.jsp"/>
    	</action>
    	<action path="/removeOrderItem"  type="coreservlets.RemoveOrderItem">
      		<forward name="startOrder" path="/StartOrder.jsp"/>
    	</action>
    	<action path="/submitOrder"  type="coreservlets.SubmitOrder">
      		<forward name="startOrder" path="/StartOrder.jsp"/>
    	</action>
  </action-mappings>
</struts-config>


